<mat-toolbar color="grey">
  <mat-toolbar-row>
    <form [formGroup]="messageForm" (ngSubmit)="onSubmit(messageForm.value)">
      <mat-form-field id="messageField">
        <mat-label>Message</mat-label>
        <input id="message" type="text" matInput formControlName="message">
      </mat-form-field>

      <button class="button" type="submit">Submit</button>
    </form>
  </mat-toolbar-row>
</mat-toolbar>

<div *ngFor="let entry of entries | async">
  <mat-card>
    <mat-card-title>
      {{entry.message}}
    </mat-card-title>
    <mat-card-subtitle>
      {{entry.time.toDate() | date: "fullTime"}}
    </mat-card-subtitle>
  </mat-card>
</div>
